<div class='h-96 bg-main-image bg-cover shadow-sm shadow-white transition-shadow hover:shadow-lg hover:shadow-white'>
  <div class='text-center text-shadow pt-32'>
    <div class='text-xl'>
      <%= lesson_class.title %>
    </div>

    <div class='text-2xl font-bold'>
      <%= lesson_class.description %>
    </div>
  </div>
</div>