
<div class='mt-20 text-shadow shadow-black'>
  <div class='text-4xl underline ml-10'>
    <%= category.title %>
  </div>

  <div class='grid mt-5 lg:grid-cols-6 lg:gap-0 md:grid-cols-3 xs:grid-cols-2'>
    <%= render category.lesson_classes %>
  </div>
</div>
