<div class='mt-20 text-shadow shadow-black'>
  <div class='text-4xl ml-10'>
    <%= category.title %>
  </div>

  <div class='flex overflow-x-scroll'>
    <%= render category.lesson_classes %>
  </div>
</div>
