<div class="fixed bottom-0 left-0 right-0 md:hidden">
  <div id="install_banner" class="bg-black shadow-lg text-white px-4 py-2 flex items-center justify-between cursor-pointer z-10">
    <div class="flex items-center space-x-2">
      <%= image_tag "logo-op-cdo", alt: "Logo", class: "h-full" %>
      <span>Adicionar APP da Operação na Página Inicial</span>
    </div>

    <div id="close_banner" class="text-white p-2 text-4xl leading-none shadow-lg text-black cursor-pointer">
      &times;
    </div>
  </div>
</div>
