<div id="install_banner" class="fixed bottom-0 left-0 right-0 bg-black shadow shadow-white text-white px-4 py-2 flex items-center justify-center space-x-2 md:hidden cursor-pointer">
  <%= image_tag "logo-op-cdo", alt: "Logo", class: "h-full" %>
  <span>Adicionar APP da Operação na Página Inicial</span>
</div>
