<div class="grid grid-cols-3 text-center h-screen">
  <div class="md:col-span-2 md:block xs:hidden bg-login-wallpaper bg-cover"></div>
  <div class="md:col-span-1 xs:col-span-3 flex items-center justify-center">
    <div class='shadow-xl shadow-white/30 p-10 rounded-xl bg-gray-900'>
      <%= yield %>
    </div>
  </div>
</div>