<div class='pt-60 text-shadow shadow-black ml-10'>
  <div class='text-lg'>
    <%= t('platform.home.subtitle') %>
  </div>

  <div class='text-4xl mt-4'>
    <%= t('platform.home.title') %>
  </div>
</div>