<div class=''>
  <div class='m-10 text-shadow shadow-black'>
    <div class='text-lg'>
      <%= t('platform.home.subtitle') %>
    </div>

    <div class='text-4xl mt-4'>
      <%= t('platform.home.title') %>
    </div>
  </div>
</div>