<div class='mt-20 text-shadow shadow-black'>
  <div class='text-4xl ml-10'>
    <%= t('platform.lesson.show.recommended') %>
  </div>

  <div class='flex overflow-x-scroll'>
    <%= render recommended_lesson_classes %>
  </div>
</div>