@import 'fonts/jura';
@import 'trix';
@import 'actiontext';

input[type=text], input[type=email], input[type=password], select, textarea {
  color: black!important;
}
::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: #39054e;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #e6e6e6;
  border-radius: 10px;
}